@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800&display=swap');

* {
    margin:0;
    padding:0;
    font-family: 'Poppins',sans-serif;
    box-sizing: border-box;
}


body{
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
}

.card{
    position:relative;
    width:600px;
    height:350px;
    border-radius: 20px;
    display: flex;
    align-items: center;
    transition: 0.5s;
}

.card .circle{
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    border-radius: 20px;
    overflow: hidden;

}

.card .circle::before{
    content:'';
    position:absolute;
    top:0;
    left:0;
    width:100%;
    height:100%;
    background-color: red;
    clip-path: circle(120px at center);
    transition: 0.5s;
}
.card:hover .circle:before{
    clip-path: circle(400px at center);
    background-color:#0065c3;

}

img{
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50%,-50%);
    height: 300px;
    pointer-events: none;
    transition: 0.5s;
}

.card:hover img{
    left:76%;
    height:500px;
}

.card .content{
    position: relative;
    width:50%;
    left:9%;
    padding: 20px 20px 20px 40px;
    transition: 0.2s;
    opacity: 0;
    visibility: hidden;
}

.card .content h2{
    font-weight: 700;
}

.card:hover .content{
    left:0;
    opacity: 1;
    visibility: visible;
}

.card .content a{
    position: relative;
    text-decoration: none;
    color:black;
    background-color: #fff;
    border-radius: 10px;
    padding:10px 20px;
    margin-top: 10px;
    display: inline-block;
    font-weight: 700;

}

@media (max-width:650px) {
    .card{
        width:auto;
        max-width: 350px;
        align-items: flex-start;
        margin:10px;
    }

    .card:hover{
        height:650px;
    }

    .card .content{
        width:100%;
        left:0;
        padding:30px;
    }

    .card:hover img{
        height:300px;
        top:76%;
        left:50%;
    }
}

@media (max-width:420px){
    .card .content{
        padding:30px;
    }
}




